.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-item {
  border: 1px solid black;
}
